.greeting {
    align-items: center;
    margin: 20px auto;
    align-content: center;
    text-align: center;
    position: fixed;
    top: 35%;
    left: 50%;
  }
  
  button {
    background-color: #007bff;
    width: fit-content;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 30px 40px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
  
    &:hover {
      background-color: #0056b3;
    }
  }

  .reset{
    top: 74%;
    left: 57%;
    position: fixed;
    padding: 20px 10px;
  }
  
  .profile-image {
    margin-top: 10px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid #007bff;
  }
  