<div class=" text-muted pt-5" style="background-color: #004080; height: 200px; align-items: center;">
    <div class="position-relative" style="width: 20%; height: 30%; left: 30%; top: 60%;">
        <span class="badge fs-10 pr-10 fw-bold position-absolute top-50 start-0 translate-middle">Release No: {{ releaseVersion }}</span>
        <span class=" text-light position-absolute top-50 start-50 translate-middle" style="font-size: 1.5rem; font-weight: 100;">|</span>
        <span class="badge fs-10 fw-bold position-absolute top-50 start-100 translate-middle ">Release Date: {{ releaseDate }}</span>
    </div>
</div>