<div class="main-container">
    <app-sidebar (assignmentNumber)="onAssignmentNumberSelected($event)"></app-sidebar>
    <div class="contents">
      <div class="card" (click)="flipCard()" [class.is-flipped]="isFlipped">
        <div class="card-front" *ngIf="cardContent!=='';">
          <p style="width: 80%;">{{cardContent}}</p>
        </div>
        <div class="card-back">
          <div *ngIf="isFlipped" (click)="stop($event)">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>