<div class="container mt-4" (click)="stop($event)">
  <!-- Bootstrap Nav Pills for Tabs -->
  <ul class="nav nav-pills" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="java-tab" data-bs-toggle="pill" data-bs-target="#java" type="button" role="tab" aria-controls="java" aria-selected="true">Java</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="angular-tab" data-bs-toggle="pill" data-bs-target="#angular" type="button" role="tab" aria-controls="angular" aria-selected="false">Angular</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="sql-tab" data-bs-toggle="pill" data-bs-target="#sql" type="button" role="tab" aria-controls="sql" aria-selected="false">SQL</button>
    </li>
  </ul>

  <!-- Scrollable Tab Content Container -->
  <div class="tab-content-container mt-3 shadow">
      <div class="tab-content">
          <div class="tab-pane fade show active overflow-content" id="java" role="tabpanel" aria-labelledby="java-tab">
              <app-java></app-java>
          </div>
          <div class="tab-pane fade overflow-content" id="angular" role="tabpanel" aria-labelledby="angular-tab">
              <app-angular></app-angular>
          </div>
          <div class="tab-pane fade overflow-content" id="sql" role="tabpanel" aria-labelledby="sql-tab">
              <app-sql></app-sql>
          </div>
      </div>
  </div>
</div>
