/* General styles for the layout */
.main-container {
  display: flex;
  height: calc(100vh-60px);
}

/* .sidenav {
  overflow-y: scroll;
  height: 100%;
  padding: 20px;
  background-color: #f4f4f4;
} */

.contents {
  padding: 20px;
  background-color: #f4f4f4;
  position: absolute;
  left: 244px;
  width: 100%;
  height: 100%;
}

/* Responsive behavior */
