<header class="header">
  <a [routerLink]="['']">
  <img src="assets/image/assets/remiges-logo.svg" alt="Remiges Logo" class="logo" />
  </a>
  <h1>Assignments</h1>
</header>

<div class="main-container">
  <nav class="sidebar">
    <ul>
      <li><a [routerLink]="['/assignment1']">Assignment 1</a></li>
      <li><a [routerLink]="['/assignment2']">Assignment 2</a></li>
      <li><a [routerLink]="['/assignment3']">Assignment 3</a></li>
      <!-- Add more assignments as needed -->
    </ul>
  </nav>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
