<div class="sidebar">
    <ul>
        <li><a routerLink="assignment1">Assignment 1</a></li>
        <li><a routerLink="assignment2">Assignment 2</a></li>
        <li><a routerLink="assignment3">Assignment 3</a></li>
        <li><a routerLink="assignment4">Assignment 4</a></li>
        <li><a routerLink="assignment5">Assignment 5</a></li>
        <li><a routerLink="assignment6">Assignment 6</a></li>
        <li><a routerLink="assignment7">Assignment 7</a></li>
        <li><a routerLink="assignment8">Assignment 8</a></li>
        <li><a routerLink="assignment9">Assignment 9</a></li>
        <li><a routerLink="assignment10">Assignment 10</a></li>
        <li><a routerLink="assignment11">Assignment 11</a></li>
        <li><a routerLink="assignment12">Assignment 12</a></li>
        <li><a routerLink="assignment13">Assignment 13</a></li>
        <li><a routerLink="assignment14">Assignment 14</a></li>
        <li><a routerLink="assignment15">Assignment 15</a></li>
        <li><a routerLink="assignment16">Assignment 16</a></li>
        <li><a routerLink="assignment17">Assignment 17</a></li>
        <li><a routerLink="assignment18">Assignment 18</a></li>
        <li><a routerLink="assignment19">Assignment 19</a></li>
        <li><a routerLink="assignment20">Assignment 20</a></li>
    </ul>
</div>

    
  