<header class="top-header">
    <div class="container-nav">
        <div class="logo-container">
        <a href="#">        
            <img src="assets/image/logos/remiges-logo.png" alt="Customer Manager Logo" class="tlogo">
        </a>
        <span class="app-name">Customer Manager</span>
        </div>
        <nav class="navigation-menu">
        <ul>
            <li><a href="#">Customers</a></li>
            <li><a href="#">Orders</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Login</a></li>
        </ul>
        </nav>
    </div>
</header>
  